[defaults]
host_key_checking = False
inventory = ./
inventory_plugins = ./

[ssh_connection]
ssh_args = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa.pem

[inventory]
enable_plugins = aws_ec2, yaml
